<!DOCTYPE html>
<html>
<head>
	<title>Sign-Up</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>


</head>
<body id="signupPage">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ticket-OTG</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul id="login" class="nav navbar-nav navbar-right">
      
        <li>
          <a  style="display : <%= login %> " id="signup-btn1" class="btn btn-primary">Signup <i class="fa fa-user-plus" aria-hidden="true"></i>
          </a>
        </li> 

        <li >
          <a  style="display:<%=  signup %>" id="login-btn1" type="button"  class="btn btn-primary">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a> 
        </li>    

      </ul>
  </div>
</div>
</nav>

<div class="signup_container" style="display:<%= signup %>">
	<h2>Create Account</h2>
	<form action="/signup"  method = "post">
		<input type="text" name="name" placeholder="Name" required><br>
		<input type="text" name="phone" placeholder="Phone" required><br>
		<input type="text" name="email" placeholder="Email" required><br>
		<input type="password" name="password" placeholder="Password" required><br>
		<input id="submit_sp" type="submit" name="Submit" value="Submit" ><br>
    <div class="g-recaptcha" data-sitekey="6LefQDYUAAAAALx7TGZcwmSqMeXkslfxf4YK2dbe"></div>  
	</form>
</div>


<div class="login_container" style="display:<%= login %>">
	<h2>Login Form</h2>
	<form action="/login" method = "post">
		<input type="text" name="phone" placeholder="Phone" required><br>
		<input type="password" name="password" placeholder="Password" required><br>
		<input type="submit" name="Submit" value="Submit" ><br>
	</form>
</div>



<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
